#fichier à modier
MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_DATABASE=dolidb
MYSQL_USER=dolidbuser
MYSQL_PASSWORD=CHANGE_ME

DOLI_ADMIN_LOGIN=admin
DOLI_ADMIN_PASSWORD=CHANGE_ME
DOLI_URL_ROOT=http://localhost:8080

DOLI_API_KEY=CHANGE_ME
